# NeonDB connection string
# Format: postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
DATABASE_URL="postgresql://user:password@ep-your-endpoint.neon.tech/med_broker?sslmode=require"

PORT=4000
